button:focus {
  outline: 0;
}

button:active {
  position: relative;
  top: 1px;
}

.move {
  padding: 0 2px;
}

.move-button {
  margin-right: 0.12rem;
  padding: 0 0.12rem;
}

.move-button--active {
  border-radius: 15%;
  background-color: darkgreen;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
}
